body{

}
*{
  box-sizing: border-box;
}
.header{
  background-color: #0565C0;
  color: white;
  padding: 1em 0.5em;

}
h1{
  padding: 0;
  margin: 0;
}
.container{
  padding: 2em 2em;
  background-color: #F1F1F1;
  height: 100vh;
  overflow: scroll;

}
.filters-container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(280px,1fr)); 
  gap:20px;
   
}
.filter{
  padding: 2em 1em;
  box-shadow: 4px 4px 4px gray;
  background-color: white;
}
.filter-name{
  color: black;
  font-size: 1.3rem;
}
.filter-values{
  border: 2px solid blue;
  border-radius: 50px;
  padding: 0.8em;
  background-color: #333340;
  color: white;
  cursor: pointer;
  width: fit-content;
  font-size: 1.2rem;
  display: flex;
  gap:9px;
}
.filter-icon{
  transition: color 0.5s;
  font-weight: 600;
}
.filter-icon:hover{
  color: orange;
}
.active-filter{
  color: #0565C0;
}
.all-beers-container{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
  gap:20px;
  margin: 2em 0;
}
.beer-card{
 
  box-shadow: 4px 4px 4px gray;
  background-color: white;
 text-align: center;
 cursor: pointer;
 position: relative;
}
.beer-card:hover .beer-details{
  display: block;
}

.beer-card-content{
  padding: 1em 1em;
  height: 100%;
  width: 100%;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.beer-details{
  padding: 1em 1em;
  height: 100%;
  width: 100%;
  z-index: 2;
 position: absolute;
 top:0px;
 transition: all 0.5s;
 text-align: left;
 color: #333340;
 display: none;
}
.beer-details h1{

  padding: 0;
  margin: 0;
}
.beer-details:hover{
  background: rgba(255,255,255,0.9);
  
}
.beer-card-flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.line{
  border: 1px solid #0565C0;
}
h2{
  padding: 0;
  margin: 0;
}
.beer-img-div{
  width: 60%;
  height: 300px;
  margin: auto;
 
}

.beer-img-div img{
  width: 100%;
  height: 100%;
  object-fit: contain;

}
.inactive-page{
  color: #242532;
}
